* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: bisque;
  background-image: url("https://images.unsplash.com/photo-1513584684374-8bab748fbf90?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1465&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 5%;
  color: white;
  background-color: black;
  height: fit-content;
  opacity: 0.5;
  height: 10vh;
  align-items: baseline;
  /* align-content: center; */
  align-items: center;
}
.navBar {
  display: flex;
  column-gap: 10vw;
}
.navBar a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}
.navBar a:hover {
  text-decoration: underline;
}
